@page
@using UI.Dtos
@model UI.Pages.Identity.RegisterModel
@{
}

<div>
    <h1>Register</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div>
            <label asp-for="Register.Email"></label>
            <input asp-for="Register.Email" type="email"/>
            <span asp-validation-for="Register.Email"></span>
        </div>
        <div>
            <label asp-for="Register.Password"></label>
            <input asp-for="Register.Password" type="password" />
            <span asp-validation-for="Register.Password"></span>
        </div>
        <div>
            <label asp-for="Register.ConfirmPassword"></label>
            <input asp-for="Register.ConfirmPassword" type="password" />
            <span asp-validation-for="Register.ConfirmPassword"></span>
        </div>
        <div>
            <label asp-for="Register.DocumentNumber"></label>
            <input asp-for="Register.DocumentNumber" type="text" />
            <span asp-validation-for="Register.DocumentNumber"></span>
        </div>
        <div>
            <label asp-for="Register.DocumentType"></label>
            <input asp-for="Register.DocumentType" type="number" />
            <span asp-validation-for="Register.DocumentType"></span>
        </div>
        <button type="submit">Register</button>
    </form>
</div>