receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch: {}

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"
    metric_expiration: 180m
    resource_to_telemetry_conversion:
      enabled: true
    const_labels:
      service: "otel-collector"

  logging:
    verbosity: detailed

service:
  telemetry:
    metrics:
      address: "0.0.0.0:8888"

  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus, logging]

    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging]
